*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-height: 100vh;
  /* //*/
  background-image: linear-gradient(#ec5681, #ff8b65, #ffce66);
  font-family: "Roboto", sans-serif;
  padding-top: 3rem;
}
#root {
  width: 80rem;
  max-width: 90%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
